{% extends "base.twig" %}

{% block content %}

<div class="" data-block="content" data-template="dark-template.twig">
  <div class="dark-title-wrap uk-section uk-section-secondary uk-padding-remove-vertical uk-position-relative">
    <h1 class="dark-title uk-position-relative">{{post.title}}</h1>
  </div>
  <div class="uk-section uk-section-secondary">
    <div class="uk-container uk-container-large uk-light">
      <div class="privacy-content">
        {{post.content}}
      </div>
    </div>
  </div>
  
  {% include 'cta.twig' %}
  
</div>
{% endblock %}