{% extends "base.twig" %}
{% block content %}

<div class="uk-section uk-section-small uk-margin-large-bottom" data-template="single.twig">
  <div class="uk-container">
    
    <div id="ShopBreadsNotices" class="">
      {{ function('yoast_breadcrumb', '<div id="breadcrumbs">','</div>') }}
      {% do action('woocommerce_before_main_content') %}
    </div>
    
    {% if not user %}
    <p class="">You are not logged in. Please <a href="#modal-container" uk-toggle>log in here</a> before entering a competition.</p>
    {% endif %}

    <div class="product-notices-section">
      {% do action('woocommerce_before_single_product') %}
    </div>

    <!-- the Product -->
    <div id="TheProduct" itemscope itemtype="http://schema.org/Product" class="single-product-details uk-margin-top {{ post.class }}" uk-grid>

      <!-- the images -->
      <div class="entry-images uk-width-1-2@m uk-flex-last">
        <div>
          {% do action('woocommerce_before_single_product_summary') %}
        </div>
        <div>
          {% do action('woocommerce_after_single_product_summary') %}
        </div>
      </div>

      <div class="uk-width-1-2@m">
        {% do action('woocommerce_single_product_summary') %}
      </div>


    </div>
    
    <meta itemprop="url" content="{{ post.link }}" />

    <div class="after-product-section uk-margin-large-top">
      {% do action('woocommerce_after_single_product') %}
    </div>
  
  </div>
</div>

{% endblock  %}