{% extends "base.twig" %}

{% block pageheader %}
  {% include 'header-page.twig' %}
{% endblock %}

{% block contentwrap %}
  <div class="uk-container uk-container-small">
    {{ post.content|e('wp_kses_post') }}
  </div>
{% endblock %}

{% block abovefooter %}
  {% include 'above-footer-page.twig' %}
{% endblock %}