{% set url_out = function('get_term_link', new_cat.term_id) ~ '?product_series=' ~ term_slug %}
<div>
  <div class="uk-card uk-card-hover uk-card-small uk-text-center">
    <div class="uk-card-media-top">
      <img data-src="{{ thumb_link|e('esc_url')|default('https://via.placeholder.com/500x500.png?text=+') }}" data-width data-height alt="" uk-img>
      <a class="stretch-me" data-link="{{url_out|e('esc_url')}}" onclick="quickLoad(event);"></a>
    </div>
    <div class="uk-card-body">
      <div class="uk-text-emphasis uk-margin-small-top uk-margin-remove">
        <a class="dont-underline uk-link-text">{{ new_cat.name|e('esc_html') }}</a>
      </div>
    </div>
  </div>
</div> 