{% extends 'base.twig' %}

{% block spec_styles %}
  <style>
    .onsale.uk-card-badge {
      top: 15px;
      right: 15px;
    }
    .term-description>p {
      margin: 0;
    }
  </style>
{% endblock %}

{% block pageheader %}
  <section id="PageTitleSection" class="uk-section uk-background-muted">
    <div class="uk-container uk-container-small uk-text-center">
      <h1 class="uk-text-uppercase uk-h2 uk-text-muted">{{title}}</h1>
    </div>
  </section>
{% endblock %}

{% block contentwrap %}

  <div class="uk-container uk-container-large content-container" data-block="content-wrap" data-template="collection.twig">
    
    <div class="collection-wrap">

      {% if all_terms is not empty %} 
      
        <div class="uk-child-width-1-5@m uk-grid-small uk-flex uk-flex-center" uk-grid>
      
          {% for term in all_terms %}
          
            {% include ['tease-term.twig'] %}
             
          {% endfor %}
          
        </div>
        
      {% else %}
      
        No collection items added...
      
      {% endif %}
      
    </div>
    
  </div>

{% endblock %}

{% block spec_scripts %}
  <script type='text/javascript' src='{{theme.link}}/assets/js/woo/shop.js'></script>
{% endblock %}