{% set thumb_id = fn('get_term_meta', term.term_id, 'thumbnail_id', true ) %}
{% set thumb_link = fn('wp_get_attachment_url', thumb_id) %}
{% if thumb_link is not empty %}
  {% set thumb_url = thumb_link %}
{% else %}
  {% set thumb_url = 'https://via.placeholder.com/500x500.png?text=+' %}
{% endif %}

<div>
  <div class="uk-card uk-card-hover uk-card-small uk-text-center uk-position-relative">
    <div class="uk-card-media-top">
      <img data-src="{{ thumb_url }}" data-width data-height alt="" uk-img>
      <a class="stretch-me" data-link="{{fn('get_term_link', term.term_id)}}" onclick="quickLoad(event);"></a>
    </div>
    <div class="uk-card-body">
      <div class="uk-text-emphasis uk-margin-small-top uk-margin-remove">
        <a class="dont-underline uk-link-text">{{ term.name }}</a>
      </div>
    </div>
  </div>
</div> 