{% if function('get_query_var', 'product_series') and function('is_product_series') == false %}
  {% set url_out = (function('get_term_link', term.term_id) ~ '?product_series=' ~ function('get_query_var', 'product_series')) %}
{% else %}
  {% set url_out = function('get_term_link', term.term_id) %}
{% endif %}
<div id="{{term.term_id|e('html_attr')}}">
  <div class="uk-card uk-card-hover uk-card-small uk-text-center uk-position-relative">
    <div class="uk-card-media-top">
      <img data-src="{{ thumb_link|e('esc_url')|default('https://via.placeholder.com/500x500.png?text=+') }}" data-width data-height alt="" uk-img>
      <a class="stretch-me" data-link="{{url_out|e('esc_url')}}" onclick="quickLoad(event);"></a>
    </div>
    <div class="uk-card-body">
      <div class="uk-text-emphasis uk-margin-small-top uk-margin-remove">
        <a class="dont-underline uk-link-text">{{ term.name|e('esc_html') }}</a>
      </div>
    </div>
  </div>
</div> 