<div class="uk-section uk-section-default fat-border-top">
  <div class="uk-container">
    <h2 class="uk-text-center uk-margin-medium-bottom">Can't find what you're looking for?</h2>
    <p class="uk-text-center"><a class="uk-button uk-button-primary uk-button-large" href="/contact">Contact us</a></p>
  </div>
</div>