<div id="HeaderBottom" class="uk-visible@xl">
  <div id="BottomNav" class="">
    <nav id="BottomNavWrap" class="theme-dark-bg">
      <div class="uk-container uk-container-expand">
        <div class="uk-navbar" uk-navbar>
          {% include 'nav-logo.twig' %}
          {% include 'nav-center.twig' %}
          {% include 'nav-right.twig' %}
          {% include 'nav-search.twig' %}
        </div>
      </div>
    </nav>
  </div>
</div>