<div id="BottomNavSearchbar" class="bottom_nav_searchbar uk-navbar-right search-overlay" hidden>
  <div class="uk-navbar-item">
    <form class="uk-search uk-search-navbar" role="search" method="get" action="{{site.url}}">
      <input class="uk-search-input" type="search" placeholder="Start typing..." id="Search" name="s" autocomplete="off" autofocus>
    </form>
  </div>
  <a class="uk-navbar-toggle" uk-close uk-toggle="target: .search-overlay; animation: uk-animation-fade" href="#"></a>
</div>