<div id="AccountNav" class="account_nav uk-navbar-item boundary-account">
  {% if is_user_logged_in %}
  <a href="{{dashboard_endpoint}}" class="nav-right-item" aria-expanded="false"><i class="fas fa-user fa-2x"></i> <span class="sign-up-text">My Account</span></a>
  {% else %}
  <a href="{{dashboard_endpoint}}" class="nav-right-item" aria-expanded="false"><i class="fas fa-user fa-2x"></i> <span class="sign-up-text">Sign up Now</span></a>
  {% endif %}
</div>