{% extends "base.twig" %}

{% block pageheader %}
  <section id="PageTitleSection" class="uk-section uk-background-muted">
    <div class="uk-container uk-text-center">
      <h1 class="uk-text-uppercase uk-h2 uk-text-muted">{{title}}</h1>
    </div>
  </section>
{% endblock %}

{% block contentwrap %}

  <div class="" uk-grid hidden>
      
    <div class="uk-width-1-4">
      
      <h3 class="uk-text-uppercase uk-h4">Sidebar</h3>

      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        <li class="uk-active"><a href="#">About us</a></li>
        <li><a href="#">Shipping Information</a></li>
        <li><a href="#">Request a Catalogue</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      
      <h3 class="uk-text-uppercase uk-h4">Customers</h3>

      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        <li><a href="#">Trade</a></li>
        <li><a href="#">Create an Account</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>

    </div>

    <div class="uk-width-3-4">

      <h1 class="uk-text-uppercase uk-h2">The Content</h1>
      <p>All of this text is editable. Simply click anywhere in the paragraph or heading text and start typing. You can copy and paste your own content in to see what it looks like with these font combinations.</p>
      
      <div>
      	<div>
      		<h2>FREE SHIPPING*</h2>
      		<ul class="uk-list">
      			<li>To
      				<span>UK Mainland</span></li>
      		</ul>
      		<h2>DISCOUNTED SHIPPING</h2>
      		<ul class="uk-list">
      			<li>To
      				<span>Scottish Highlands, Scottish Islands, Northern Ireland, Republic of Ireland &amp; Channel Islands</span></li>
      		</ul>
      	</div>
      	<div>
      		<h2>* TERMS &amp; CONDITIONS APPLY</h2>
      		<ul class="uk-list">
      			<li>Orders over £125.00 placed online or £150 via telephone</li>
      			<li>Areas considered to be UK Mainland, Scottish Highlands, Scottish Islands are at the discretion of Agriline Products Ltd.</li>
      			<li>Minimum order valvue must be greater than value stated excluding VAT before offer applies.</li>
      			<li>Offer applies to orders of items in product groups
      				<span style="color: #800000;">small</span>,
      				<span style="color: #800000;">general</span>
      				and
      				<span style="color: #800000;">dangerous</span>
      				<span style="color: #800000;">goods*</span>
      				only (*dangerous goods excluded from offer shipping to Ireland, Isle of Man &amp; Channel Islands).</li>
      			<li>Excludes items in product groups
      				<span style="color: #800000;">heavy</span>,
      				<span style="color: #800000;">extra</span>
      				<span style="color: #800000;">large</span>
      				and
      				<span style="color: #800000;">pallet</span></li>
      			<li>
      				<span style="color: #333333;">Agriline Products Ltd reserve the right to alter or revoke this offer without prior notification</span></li>
      		</ul>
      	</div>
      	<h2>Shipping to Europe</h2>
      	<div>
      		<ul class="uk-list">
      			<li>Non-pallet orders shipped with DHL. Where avaliable, at checkout you will be offered the choice between an economy and an express service</li>
      			<li>Pallet orders shipped with Kuehne &amp; Nagal</li>
      			<li>Shipping costs are calculated based on the delivery location as well as the weight of the shipment. For a full breakdown please refer to the 'Zone Guide` and `Chargable Rates Table`.</li>
      			<li>£10.00 surcharge may apply to each
      				<span style="color: #800000;">extra</span>
      				<span style="color: #800000;">large</span>
      				item added to shopping card (DHL)</li>
      			<li>£16.00 surcharge may apply for each order including items classed as
      				<span style="color: #800000;">dangerous</span>
      				<span style="color: #800000;">goods</span>
      				(DHL)</li>
      			<li>It is not possible to ship items classed as
      				<span style="color: #800000;">dangerous</span>
      				<span style="color: #800000;">goods</span>
      				on an express service</li>
      			<li>Based on your destination, if the total weight of your order exceeds a certain level it may be cheaper to ship your order on a pallet. In this instance, you will be offered this option at the checkout.&nbsp;</li>
      		</ul>
      		<p>&nbsp;</p>
      	</div>
      	<div>
      		<h2>REST OF THE WORLD</h2>
      		<ul class="uk-list">
      			<li>Non-pallet orders shipped on a DHL express service</li>
      			<li>Pallet orders shipped with Kuehne &amp; Nagal</li>
      			<li>Shipping vots are calculated based on the delivery location as the weight of the shipment. For a full breakdown please refer to the 'Zone Guide` and `Chargeable Rates Table`&nbsp;</li>
      			<li>£10.00 surcharge may apply to each
      				<span style="color: #800000;">extra large</span>
      				item added to shopping cart (DHL)</li>
      			<li>It is not possible to ship items classed as
      				<span style="color: #800000;">dangerous goods&nbsp;</span></li>
      		</ul>
      		<p>&nbsp;</p>
      	</div>
      	<div>
      		<h2>PALLET SHIPMENTS</h2>
      		<p>Costs for pallet shipments outside of the UK are calculated based on the delivery location as well as the size and weight of the shipment.</p>
      		<p>Our website will calculate the shipping cost of a pallet to a number of common European countries.</p>
      		<p>These prices will be displayed at the checkout.</p>
      		<p>Pallet costs to other destinations will be quoted after checkout is completed. Our sales team will be in contact to advise.</p>
      		<p>For further information on estimates prior to website checkout please contact our sales team.</p>
      	</div>
      </div>
      
    </div>
    
  </div>

{% endblock %}

{% block abovefooter %}
  <section id="AboveFooterSection" class="uk-section uk-background-muted">
    <div class="uk-container uk-container-large uk-text-center">
      <p class="uk-margin-remove-bottom">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Phasellus viverra nulla ut metus varius laoreet. Viverra quis feugiat a. Phasellus viverra nulla ut metus</p>
    </div>
  </section>
{% endblock %}