{% extends "base.twig" %}

{% block article %}

  <article id="IndexArchive" class="index-archive" data-template="index.twig">

    {% block archive_header %}
      <header class="archive-header">
        <div class="uk-section uk-background-muted theme-border-bottom">
          <div class="uk-container uk-text-center">
            {% block archive_header_title %}
              <h1 class="uk-text-uppercase uk-text-muted uk-article-title">{{ title|e('esc_html') }}</h1>
            {% endblock %}
          </div>
        </div>
        {% block breads %}
          <div class="breads-container uk-container">
            {% include 'breads.twig' %} 
          </div>
        {% endblock %}
      </header>
    {% endblock %}
    
    {% block archive_content %}
      <section class="archive-content-section uk-section uk-section-small uk-container">
        {% if posts is not empty %}
          <div class="uk-child-width-1-2@s uk-child-width-1-3@m archive-posts" uk-grid="masonry: true">
            {% for post in posts %}
              {% block tease_include %}
                {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
              {% endblock %}
            {% endfor %}
          </div>
        {% else %}
          <p class="uk-text-emphasis">{{ __('Sorry, nothing to display here...', 'vigilant-octo-telegram') }}</p>
        {% endif %}
      </section>
      
      {% if (pagination.next or pagination.prev) %}
        <footer class="archive-footer">
          {% include 'pagination.twig' %}
        </footer>
      {% endif %}
    {% endblock %}
    
  </article>
  
{% endblock %}