{% extends "base.twig" %}

{% block content %}

<div class="contact-page" data-block="content" data-template="contact.twig">
  <div class="dark-title-wrap uk-section uk-section-secondary uk-padding-remove-vertical uk-position-relative">
    <h1 class="dark-title uk-position-relative">Contact us</h1>
  </div>
  <div class="uk-section uk-section-secondary">
    <div class="uk-container uk-container-large uk-light contact-info">

        <h2>Contact page copy can go here...</h2>

    </div>
  </div>
  <div class="uk-section uk-section-muted fat-border-top">
    <div class="uk-container uk-container-small">
      {{ function('do_shortcode', '[contact-form-7 id="223" title="Current Customers"]') }}
    </div>
  </div>
</div>
{% endblock %}