{% extends "base.twig" %}

{% block content %}

<div data-block="content" data-template="faqs.twig">
  <div class="dark-title-wrap uk-section uk-section-secondary uk-padding-remove-vertical uk-position-relative">
    <h1 class="dark-title uk-position-relative">Frequently Asked Questions</h1>
  </div>
  <div class="uk-section uk-section-secondary">
    <div class="uk-container uk-container-large uk-light">
      <ul uk-accordion>
        <li class="uk-open">
          <a class="uk-accordion-title uk-text-bold" href="#">How many times can I enter?</a>
          <div class="uk-accordion-content">
            <p>You can enter each individual competition up to a maximum amount of times stated on each competition page, each competition varies so there is not set across all.</p>
            <p>The cheaper ones will usually allow a higher amount of entries to be purchased, however please always refer to the competition to see the maximum quantity.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title uk-text-bold" href="#">How is the Winner chosen?</a>
          <div class="uk-accordion-content">
            <p>Once all entries are in and the draw is closed, all entries will then be posted on our facebook page and website within 24 hours. This will include your draw number to the right of your name which is what we will use in the LIVE draw to decide the winner.</p>
            <p>This means you can watch the live draw with your corresponding number(s) in hand.&nbsp; &#8203;</p>
            <p>Googles random number generator will then be used to chose a winner, the name linking to the winning number chosen, will be the winner, this will be done LIVE on Facebook.</p>
            <p>Watch the video on our <a href="https://www.facebook.com/dreamcargiveaways/" target="_blank" rel="noopener noreferrer">Facebook page</a> of the last draw for an idea of how it works, we have done 800+ draws so far with winners all over the UK. and Ireland.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title uk-text-bold" href="#">When does the Competition close?</a>
          <div class="uk-accordion-content">
            <p>Each competition runs on a set ‘draw’ date, this will be displayed on the product page.</p>
            <p>Quite often the competition will sell out before this date, some sell out in 1-4 days of being LIVE on our website.</p>
            <p>All Car Draws take place on a Monday &amp; Friday at 7PM. If a competition sells out before the date displayed it will be moved to the next available draw slot.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title uk-text-bold" href="#">When will the prizes be collected?</a>
          <div class="uk-accordion-content">
            <p>Cars will need to be collected from the address on our website, which is in Worcester. However on request we can deliver the car if you live within 60 miles.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="uk-section uk-section-default fat-border-top">
    <div class="uk-container">
      <h2 class="uk-text-center uk-margin-medium-bottom">Can't find what you're looking for?</h2>

      <p class="uk-text-center"><a class="uk-button uk-button-primary uk-button-large" href="#">Contact us</a></p>

    </div>
  </div>
</div>
{% endblock %}