{% extends "base.twig" %}

{% block content %}

<div data-block="content" data-template="faqs.twig">
  <div class="dark-title-wrap uk-section uk-section-secondary uk-padding-remove-vertical uk-position-relative">
    <h1 class="dark-title uk-position-relative">Homepage Placeholder</h1>
  </div>
  <div class="uk-section uk-section-secondary">
    <div class="uk-container uk-container-large uk-light">
      <h2>Homepage Layout to be discussed</h2>
    </div>
  </div>
  <div class="uk-section uk-section-default fat-border-top">
    <div class="uk-container">
      <h2 class="uk-text-center uk-margin-medium-bottom">Can't find what you're looking for?</h2>

      <p class="uk-text-center"><a class="uk-button uk-button-primary uk-button-large" href="#">Contact us</a></p>

    </div>
  </div>
</div>
{% endblock %}