{% extends "base.twig" %}

{% block content %}

<div class="" data-block="content" data-template="single.twig">
  <div class="breads_area uk-container">
    {% include 'breads.twig' %}
  </div>
  <div class="content-area uk-section uk-section-small uk-section-muted">
    <div class="uk-container">
      <div uk-grid>
        <article id="" class="uk-article uk-width-1-1">
          <div>
            <h1 class="uk-text-bold dark-text uk-text-uppercase uk-heading-line"><span>Terms & Conditions</span></h1>
          </div>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="terms-content">
              <p><strong><a href="http://www.dreamcargiveaway.co.uk/">Dream Car Giveaways – Operator of skill based competitions which results in allocation of prizes</a></strong></p>
              <p>​<strong>DEFINITIONS</strong></p>
              <p>​<strong>PROMOTER</strong>&nbsp;–</p>
              <p>DREAM CAR GIVEAWAYS</p>
              <p>Goodrich House</p>
              <p>Moor Street</p>
              <p>Worcester</p>
              <p>WR1 3DB</p>
              <p>Companies House Number :&nbsp;11320154</p>
              <p><strong>PRIZE</strong>&nbsp;–&nbsp; The promoter may operate multiple competitions at any one time, each competition will have one specific ‘prize’.</p>
              <p><strong>QUESTIONS</strong>: The Questions which the Entrants must use skill or knowledge to answer correctly (in line with the answer held by the Promoters) to obtain an opportunity to win the Prize.</p>
              <p><strong>ENTRY</strong>: The correct answer must be submitted for each question, along with any fee due for the respective competition. Payment must be made in pounds sterling (also known as GBP or £) and can be made either by the entrant or on behalf of the entrant. Entries can also be made by the postal&nbsp;entry route outlined in section 4.8-4.9</p>
              <p><strong>ENTRANT</strong>: Any person who enters the Competition through the Website or free entry method see Para 4.8/4.9</p>
              <p><strong>WINNER</strong>: The Entrant chosen at random before or after the Closing Date who will receive the Prize in accordance with these Terms and Conditions. Proof of identity must be provided upon collection of the prize and MUST match that of the details provided when entering the respective competition.</p>
              <p><strong>MAXIMUM NUMBER OF ENTRIES​​ :&nbsp;</strong>As stated on each product page –</p>
              <p>Each competition will close once the maximum number of entries has been reached for the respective competition, and a draw date will be announced within 48 hours. The prize(s) may still be awarded at the sole discretion of the promoter if the number of paid entries at the time of closing the competition does not reach the Maximum Number of Paid Entries, but is nevertheless is deemed by the promoter as sufficient.</p>
              <p><strong>WEBSITE</strong>&nbsp;–&nbsp;<a href="https://www.dreamcargiveaways.co.uk/">WWW.DREAMCARGIVEAWAYS.CO.UK</a>​</p>
              <p><strong>1. GENERAL</strong>:</p>
              <p>1.1 By entering the competition via the Website, Entrants are deemed to have read and accepted these Terms and Conditions and agrees to be bound by them;</p>
              <p>1.2 Upon entering the Competition, all Entrants must submit all contact details as requested by the Promoter (which must include and not limited to valid e-mail address and phone number) which will be used for the following purposes:</p>
              <p>(a) to notify the Winner that they have won the prize;</p>
              <p>(b) to post the Winner’s name and town of residence on the Website</p>
              <p>(c) to comply with the Privacy Policy.</p>
              <p>1.3 All entrants are solely and completely responsible for providing and maintaining the Promoter with accurate contact details.</p>
              <p>1.4 The Promoter will be in no way liable for any failure or inability to make contact with any Entrant due to any errors or inaccuracies in the contact details provided by the Entrants.</p>
              <p><strong>2. Privacy policy</strong>&nbsp;–</p>
              <p>2.1 The Entrants and the Promoter recognise that the Promoter may use contact details and other data including personal data as defined by the Data Protection Act 1998 supplied by the Entrants to the Promoter to administer the Website and conduct the Competition according to these Terms and Conditions.</p>
              <p>2.2 The Entrants and the Promoter also recognise that the Promoter may (either by choice or at the request of a third party) also disclose this information to relevant third parties for the purposes of the prevention of fraud, money laundering, legal or other financial or regulatory reasons.</p>
              <p><strong>3. Competition</strong></p>
              <p>3.1 The Competition is operated by the Promoter.</p>
              <p>3.2 The Competition is open for entry to all persons aged 18 or over excluding the Promoters, their family, professional advisers or anyone else connected with the development or operation of the Website or conducts administration of the Competition in any way, shape or form.</p>
              <p>​3.3 By entering into the Competition, all Entrants acknowledge that their payment for each entry to answer the Question and thereby enter the Competition does not guarantee in any way that they will win the prize.</p>
              <p>3.4 The Promoter do not in any way guarantee the value of the Prize, it’s condition or roadworthiness at the time the prize is exchanged with the winning entrant.</p>
              <p>3.5 Only completed Entries which contain the correct answer as held by the Promoter will be entered into the Competition. Failure to answer any question correctly via the website will still result in any entrant being charged.</p>
              <p>3.6 As a condition of entering the Competition, Entrants must ensure that, by doing so, they do not contravene any laws of their country of residence. The Promoter will not be liable in any way if an Entrant enters the Competition unlawfully;</p>
              <p>3.7 The Entrants and the Promoter recognise that the Competition, its administration and all associated activities are governed by English Law and the Promoter and Entrants recognise that the County or High Courts of England shall have exclusive jurisdiction in the event of any dispute arising out of the Competition or its administration;</p>
              <p>3.8 The Promoter reserves the right to refuse or disqualify any entrant if it has reasonable grounds for believing that an entrant has contravened any of these terms and conditions or acted in a way that is reasonably considered by the Promoter to be illegal.</p>
              <p>​3.9 All Entries will become the property of the Promoter on receipt and will not be returned.</p>
              <p>3.10 Regardless of the number of entries sold the prize the entrant has entered for will be offered.</p>
              <p><strong>4. ENTRY</strong></p>
              <p>4.1 In answering the Question, the Entrant recognises that they must exercise skill, Knowledge and judgement to give the correct Answers;</p>
              <p>4.2 Maximum entries very depending on each individual competition, each competition will state the maximum amount of entries permitted for any natural or legal person for each competition.</p>
              <p>4.3 To conclude an entry into the Competition, an Entrant will be asked to provide their contact details (including postal and e-mail addresses and a telephone number) and card payment details (for entry fee only). Once the Entry is submitted, the Entrant’s card payment will be electronically approved.</p>
              <p>4.4 When the Maximum Number Of Entries and/or the Closing Date is reached, the Competition will close.</p>
              <p>4.5 All Entries to the Competition are final and no refunds shall be made at any time or for any reason, except in the case of entries submitted after the Closing Date or if the Promoter cancels the competition.</p>
              <p>4.6 The Promoter’s decision is final and no correspondence will be entered into about the result of the Competition following the determination of the Winner as described above.</p>
              <p>4.7 Each Entrant agrees that the usual requirement under the Consumer Protection(Distance Selling) Regulations 2000 for any goods and services ordered online to be supplied within 30 days will not apply to this Prize Competition.</p>
              <div id="free-entry">
              <p>4.8<strong> Postal Entry Route</strong>: – If you wish to enter any of our competitions for free then you must send an unenclosed postcard via First Class post stating:&nbsp; Which competition you would like to take part in, the answer to the question specific to that particular competition along with your personal details as follows;</p>
              <ul>
              <li>Full Name</li>
              <li>Date of Birth,</li>
              <li>Postal Address</li>
              <li>Email address</li>
              <li>One contact number.</li>
              </ul>
              </div>
              <p>Remember postcards must also contain the correct Answer to the question for the competition desired.</p>
              <p>Entrants MUST have an active account on our website at the time the free entries are processed, all details on postcards MUST match those on the account to which they are to be added.</p>
              <p>4.9 Send entries to: DCG LTD, PO BOX 2037, PERSHORE, WR10 9EJ.</p>
              <p>All free entries must be received before the close of the competition , Any entries that fail to follow the criteria mentioned above will be void as per any Entry received.</p>
              <p>A member of the DCG team will check the PO box for all free entries on Mondays only.</p>
              <p><strong>5. CLOSING THE COMPETITION</strong></p>
              <p>5.1 If the Number of Entries to the Competition does not meet the maximum number of entries at the closing date, the draw will still go ahead regardless and the prize will be offered.</p>
              <p>5.2 If the Winner cannot be contacted by the Promoter within 7 days of being notified of their status as the Winner by e-mail, telephone, Facebook or mail via the contact details submitted along with their entry, then the Promoter reserves the right to then select an Alternate winner, who will then have 7 days to accept the prize following the same routes of contact as the original Winner. The original winner will have no claim to the prize after the Alternate Winner is selected</p>
              <p><strong>6. CONTEST/SELECTING WINNER</strong></p>
              <p>6.1 The winning Entrant will be selected at Random using Google Random Number Generator live on Facebook.</p>
              <p>6.2 Full details of the draw date/time will be confirmed once the competition has been concluded via Facebook and or our website. This decision will be made within 48 hours of the close of the competition.</p>
              <p>6.3 Entry lists will be displayed on our Facebook page – Dream Car Giveaways and/or our website at least 4 hours prior to any draw taking place, unless otherwise arranged or stated.</p>
              <p>6.4 In some cases Draw Numbers displayed in “My Account” on the website may be subject to change until the draw is confirmed to be closed and entry lists are published.&nbsp; For instance if the competition closes early and less than the maximum number of tickets have sold.&nbsp; Or in the rare case of any human or PC error.</p>
              <p>6.5 There will only be one winner per competition unless otherwise stated.</p>
              <p>​6.6 If the contest is completed and the Prize is issued successfully then the prize will be transferred by the Promoter to the winner of the contest using the V5 for each car. This must be completed before the car is handed over. The winner is responsible for taxing and insuring the vehicle as required and the Promoter will have no responsibility over the Prize(s) once hand over is completed.</p>
              <p><strong>7. PRIZE</strong></p>
              <p>7.1 The Promoter owns any prize offered from the time the competition is live until successful handover is completed as outlined in section 6.3</p>
              <p>7.2 The Promoter does not imply or give any warranty or accept any valuation to the Prize or guarantee the roadworthiness in anyway shape or form. The Entrant must make up their own decision through their own enquiries and legal advice before entering the competition.</p>
              <p>7.3 The prize will only be that as awarded at the time of the draw, no alternatives will be offered under any circumstance.</p>
              <p>7.4 Collection of the prize is the sole responsibility of the winner, from the Promoter’s address unless otherwise agreed between the Promoter and the Winner.</p>
              <p>7.5 The winner will be required to provide proof of identity and proof of entry into the competition at the time that the prize is collected.</p>
              <p><strong>8. MISC</strong></p>
              <p>​8.1 The Winner agrees to allow the Promoter to display his or her name on the Website in accordance with the Privacy Policy. The name and town of residence of the Winner will be posted on the Website for the purposes of announcing the Winner of the Competition within 24 hours of the Winner being determined.</p>
              <p>8.2&nbsp;The Winner also agrees upon acceptance of the prize that they are required to have Photo(s) and or video(s) taken for promotional purposes, both directly after their win and in any future promotional material.</p>
              <p>8.3 Entrants authorise the Promoter to enter their personal details into their database and to use the information in accordance with the provisions of the Data Protection Act 1998 and subject to the terms of Privacy Policy.</p>
              <p>8.4 The Promoter reserves the right to cancel the Competition at any time either before or after tickets have been sold. If the Competition is cancelled, the Promoter will return any Entry Fees paid to each Entrant (either by bank card refund or by cheque and in one combined payment where several entries have been made by a competitor or store credit). Where the Entry Fee is returned, the Promoter shall have no further liability to the Entrant or to any other person;</p>
              <p>8.5 Save for death or personal injury the Promoter will not be liable for any loss (including economic loss) suffered to or sustained by any person or property as a result of any act or omission of the Promoters, nor will their servants or their agents in developing, planning and Administrating the Competition, distributing the Prize to the Winner or following the distribution of the Prize; The Promoter accepts no liability for errors or omissions contained within the Prize details, description or specification or any other part of the Website. It is the responsibility of each Entrant (and in particular the Winner) to satisfy him/herself as to the accuracy of any such details and/or any content of this website.</p>
              <p>8.6 The Promoter will not be liable for any loss suffered by an Entrant as a result of incomplete entries or failed computer communications or for any loss suffered as a result of use of the Website.</p>
              <p>8.7 The Promoter do not accept responsibility for entries which they do not receive due to failures in computer systems, other malfunctions, high Internet traffic, hardware failure, software failure, server faults or any other reason.</p>
              <p>8.8 These competition rules shall not create or be construed as creating any form of contract, joint venture or other agreement between any Entrant and the Promoters.</p>
              <p>8.9 An entry shall be declared void (without any refund being given) if the entrant engages in: (a) any form of fraud (actual or apparent); (b) fraudulent misrepresentation; (c) fraudulent concealment; (d) hacking or interference with the proper functioning of the website; or (e) amending, or unauthorised use of, any of the code that constitutes the Website.</p>
              <p>8.10 The Promoter reserves the right to amend these terms and conditions at any time. Any changes will be immediately published on the competition home page.</p>
              <p>These Terms and Conditions have been drafted for use by Dream Car Giveaways Limited and Dream Car Giveaways Limited only by LSL.&nbsp; Plagiarism of these Terms and Conditions will result in legal action.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

{% endblock %}