{% extends "base.twig" %}

{% block content %}
<div class="" data-block="content" data-template="about.twig">
  <!-- <div class="breads_area uk-container">
    {% include 'breads.twig' %}
  </div> -->
  <div class="content-area uk-section uk-section-muted">
    <div class="uk-container uk-container-small">
      <div uk-grid>
        <article id="post-{{post.ID}}" class="uk-article uk-width-1-1 {{post.class}}">
          <div id="MainTitle">
            <img width="400px" data-src="/wp-content/themes/sixstar-theme/assets/img/6star-logo-light.png" class="uk-align-center" uk-img="">
          </div>
          <div id="MainContent" class="uk-card uk-card-body uk-background-default uk-margin-bottom">
            {{ post.content }}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock %}