{% extends "base.twig" %}

{% block content %}

<div data-block="content" data-template="faqs.twig">
  <div class="dark-title-wrap uk-section uk-section-secondary uk-padding-remove-vertical uk-position-relative">
    <h1 class="dark-title uk-position-relative">Frequently Asked Questions</h1>
  </div>
  <div class="uk-section uk-section-secondary">
    <div class="uk-container uk-container-large uk-light">
      <ul uk-accordion>
        <li class="uk-open">
          <a class="uk-accordion-title uk-text-bold" href="#">What if the competition is not full by the time the timer runs out?</a>
          <div class="uk-accordion-content">
            <p>If the competition is not full by the time the timer runs out, there will be added time in order for all tickets to be sold. If by then the competition still is not completely sold out a cash alternative will be awarded but we will hope this will never be the case.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title uk-text-bold" href="#">If I win, how long will it take for my prize to be delivered?</a>
          <div class="uk-accordion-content">
            <p>Your prize will be delivered by one of 6star Competition team members within 7 days of the winner being announced.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title uk-text-bold" href="#">Is the prize winner selected randomly?</a>
          <div class="uk-accordion-content">
            <p>Yes once the competition is closed we will allow up to 48hrs before we go LIVE on Facebook. Each entrant who has answered the question correctly and picked a number will be put on a spreadsheet and this will be posted on our Facebook page for everyone to see. We then use Google’s random number generator to choose a winner. Nothing can influence the outcome of the draw.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title uk-text-bold" href="#">I did not receive a confirmation email?</a>
          <div class="uk-accordion-content">
            <p>Emails are automatically sent out as soon as payment is confirmed and this email contains your entry number(s). If it did not appear in your Inbox, it is more than like in your Spam/Junk folder so keep an eye on this.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title uk-text-bold" href="#">How many times can I enter a competition?</a>
          <div class="uk-accordion-content">
            <p>6star Competitions do not set any limits on the number of entries allowed per person.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="uk-section uk-section-default fat-border-top">
    <div class="uk-container">
      <h2 class="uk-text-center uk-margin-medium-bottom">Can't find what you're looking for?</h2>

      <p class="uk-text-center"><a class="uk-button uk-button-primary uk-button-large" href="/contact">Contact us</a></p>

    </div>
  </div>
</div>
{% endblock %}