{% extends "base.twig" %}

{% block content %}

<div class="" data-block="content" data-template="terms.twig">
  <div class="dark-title-wrap uk-section uk-section-secondary uk-padding-remove-vertical uk-position-relative">
    <h1 class="dark-title uk-position-relative">Terms & Conditions</h1>
  </div>
  <div class="uk-section uk-section-secondary">
    <div class="uk-container uk-container-large uk-light">
      <div class="terms-content">
        <h2><strong>6star Competitions:</strong> Operator of skill-based competitions</h2>
        <ul class="uk-list uk-list-divider">
          <li><strong>Address:</strong> Mullingar, Co. Westmeath, Ireland</li>
          <li><strong>Email:</strong> <a href="mailto:info@6starcompetitions.ie">info@6starcompetitions.ie</a></li>
          <li><strong>Website:</strong> <a href="https://6starcompetitions.ie">6starcompetitions.ie</a></li>
          <li><strong>Companies Registration Number:</strong> 664983</li>
        </ul>
        <p>We, 6star Competitions (the promoter) may operate multiple competitions at any one time for a specified prize.</p>
        <p>Each competition is a skill/knowledge-based game resulting in the allocation of this specific prize.</p>
        <h3>To Enter</h3>
        <p>A1. All competitions are open to all persons aged 18 and over.</p>
        <p>A2. Competitions may be entered through the official website, <a href="https://6starcompetitions.ie/">6starcompetitions.ie</a></p>
        <p>A3. By entering the competition each entrant will have deemed to have read all terms and conditions of the competition.</p>
        <p>A4. The correct answer must be submitted for each question along with the specified fee for entering the competition.</p>
        <p>A5. There will be a maximum number of entries specified for each competition.</p>
        <p>A6. Each competition will close once the maximum number of entries have been submitted and the live draw date will be announced within 48 hours.</p>
        <p>A7. The prize may still be awarded at the discretion of the promoter should the maximum number of entries not be reached but is deemed by the promoter as sufficient.</p>
        <p>A8. The promoter may add a specified extension to the closing date of the competition.</p>
        <p>A9. Should any competition conclude early, a cash prize will be offered equivalent to <strong>80% of the total entry fees taken</strong> for that particular competition.</p>
        <p>A10. Your ticket number is randomly selected and emailed to the email address provided during checkout. Keep this email safe until the draw is complete.</p>
        <p>A11. Once an entry is submitted and payment received, each entrant will receive a confirmation email confirming your entry.</p>
        <p>A12. Please note that when entering the competition online, you are not deemed entered until you received our confirmation email. Keep an eye on your Spam folder for the same.</p>
        <h3>Competition</h3>
        <p>B1. 6star Competitions uses <a
            href="#"
            target="_blank" rel="noreferrer noopener" aria-label="Google's random number generator (opens in a new tab)">Google’s random number generator</a> which will randomly choose a winner live on Facebook.</p>
        <p>B2. The promoter’s decision is final.</p>
        <p>B3. The promoter will contact the winner using the details provided at the time of entry. It is the entrant’s sole responsibility to check and update their contact details.</p>
        <p>B4. If the winner cannot be contacted within 7 days of being notified as a winner, then the promoter reserves the right to choose an alternative winner using <a
            href="#"
            target="_blank" rel="noreferrer noopener" aria-label="Google's random number generator (opens in a new tab)">Google’s random number generator</a> again.</p>
        <p>B5. All winners will be required to provide proof of identification upon delivery of any prize. Failure to meet this obligation may result in the winner being disqualified and promoter retaining the prize.</p>
        <p>B6. Delivery is free all over Ireland within 7 days of the winner being contacted. Collection can be arranged up to 30 days free of charge from the winner being contacted after that fees may apply. The promoter has a right to charge a delivery
          fee should the winner require delivery outside of Ireland.</p>
        <p>B7. Each prize must be accepted as awarded and is not transferable to other substitutes.</p>
        <p>B8. From time to time, free entry may be gained should you win one of our like, shared and tag competitions which we will run on our social media posts. Each free entry winner will be provided with a selected number once their contact details
          and email address have been received.</p>
        <p>B9. The promoter will process all free entries and the free entries will be treated in the exact same manner as all paid entries.</p>
        <h3>Privacy Policy</h3>
        <p>C1. The winner agrees to allow the promoter to display his or her name on their website and social media accounts once the winner is chosen.</p>
        <p>C2. The winner also agrees upon acceptance of the prize that they may be required to have photographs or videos taken for promotional purposes.</p>
        <p>C3. The promoter reserves the right to cancel any competition either before or after tickets sold. In the event of cancellation, all entry fees will be returned to each entrant by a bank refund.</p>
        <p>C4. 6star Competitions take no responsibility of the prize once the prize has been awarded to the winner. No insurance comes with the prize and the promoter cannot be held responsible for the prize once it has been handed over.</p>
        <p>C5.The promoter makes no representations or warranties as to the quality or suitability of any of these goods or services awarded as prizes. The promoter shall not be liable for any loss suffered or sustained to person or property once the prize
          has been awarded.</p>
        <p>C6. The promoter does not accept responsibility for any incomplete or failed entry.</p>
        <p>C7. The promoter does not accept responsibility for entries that they do not receive due to failure in computer systems, high internet traffic, hardware/software failures or for any other reasons.</p>
        <p>C8. The promoter reserves the right to amend these Terms and Conditions at any time. Any changes made will be published on the competition website.</p>
        <p>C9. The promoter reserves the right to refuse or disqualify any entrant if it has reasonable grounds for believing that the entrant has contravened any of the Terms and Conditions.</p>
        <h3>Data Protection</h3>
        <p>D1.The entrants and the promoter recognise that the promoter may use the contact details and other data supplied including personal data as defined by the Data Protection Act to administer the website and conduct the competition, including on
          our Social Media platforms.</p>
        <p>D2. The entrants and the promoter also recognise that the promoter may also disclose this information to relevant third parties for the purpose of prevention of money laundering, fraud, legal or other financial or regulatory reasons.</p>
        <p>D3. The promoter reserves the right to amend these terms and conditions at any time. Any changes made will be published on the 6star Competitions website.</p>
        <div>
          <a href="https://6starcompetitions.ie/privacy-policy/">Privacy &amp; Cookie Policy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-section uk-section-default fat-border-top">
    <div class="uk-container">
      <h2 class="uk-text-center uk-margin-medium-bottom">Can't find what you're looking for?</h2>
      <p class="uk-text-center"><a class="uk-button uk-button-primary uk-button-large" href="/contact">Contact us</a></p>
    </div>
  </div>
</div>
{% endblock %}