<section id="AboveFooterSection" class="uk-section uk-background-muted">
  <div class="uk-container uk-container-large uk-text-center">
    <p class="uk-margin-remove-bottom">{{site.description}}</p>
  </div>
</section>