<section id="AboveFooterSection" class="uk-section uk-background-muted">
  <div class="uk-container uk-container-large uk-text-center">
    <p class="uk-margin-remove-bottom">{{above_footer_text|e('esc_html')}}</p>
  </div>
</section>