<div id="FooterSecondary" class="uk-background-secondary uk-background-secondary-muted uk-light">
  <div class="uk-child-width-1-2@m uk-grid-collapse" uk-grid>
    <div class="uk-padding uk-text-center">
      <h3 class="uk-h4 uk-text-uppercase">Receive our Latest Offers & Advice</h3>
      <hr class="uk-divider-small">
    </div>
    <div class="uk-background-secondary-muted uk-background-secondary-muted-lighter uk-padding uk-text-center">
      <h3 class="uk-h4 uk-text-uppercase">Independent Customer Reveiews</h3>
      <hr class="uk-divider-small">
    </div>
  </div>
</div>