/* general swiper css */
.swiper-container {
  width: 100%;
  height: 100%;
}
/* banner slider */
:root {
  --swiper-theme-color: #ee3131ba;
}
.swiper-slide .uk-section.uk-secton-large {
  padding: 80px 0;
}
@media only screen and (max-device-width:767px) {
  .swiper-slide .uk-section.uk-secton-large {
    padding: 50px 0;
  }
}
/* info slider */
#slideshow_info .uk-h5 {
  font-size: 18px;
}
#slideshow_info {
  margin-bottom: -25px;
}
#slideshow_info .swiper-wrapper {
  padding-bottom: 30px;
}
#slideshow_info .swiper-pagination {
  z-index: 99999;
  bottom: 16px!important;
}

.front-page .related, .front-page .upsells {
  display: none;
}
.front-page .woocommerce-message {
  margin-bottom: 20px;
}
.front-page .uk-tab, .front-page #my-id {
  display: none;
}
.uk-divider-small:after {
  border-top: 3px solid #f8f8f8;
}

.home-cats.uk-panel-scrollable {
  height: auto;
  max-height: none;
}

@media only screen and (max-width:767px) {
  .home-cats .uk-padding-small {
    padding: 0px;
  }
  .home-cats-wrap {
    padding: 10px;
  }
  .home-cats.uk-panel-scrollable {
    padding: 10px!important;
    border: 1px solid #e5e5e5!important;
    max-height: 300px;
  }
  .home-cats .uk-grid-stack>*:last-child .theme-border-bottom {
    border: none;
  }
  .home-cats .theme-border-left {
    border-left: none;
  }
  .home-cats .theme-border-right {
    border-right: none;
  }
}

@media only screen and (min-device-width:768px) and (max-device-width:959px) {
  .home-cats .uk-padding-small {
    padding: 5px;
  }
}

@media only screen and (min-device-width:960px) and (max-device-width:1199px) {
  .home-cats .uk-padding-small {
    padding: 10px;
  }
}