/* lottery custom styles */
.main-lottery {
  color: #1d262d !important;
  padding-top: 10px;
}
.wcl-progress-meter .zero {
  display: inline-block;
  position: relative;
  top: auto;
}
.wcl-progress-meter .max {
  display: inline-block;
  position: absolute;
  top: auto;
  right: 0;
}
progress[value] {
  height: 8px;
  margin-top: 10px;
}
progress[value]::-webkit-progress-bar {
  background-color: #efbfa8;
  border-radius: 2px;
}
progress[value]::-webkit-progress-value {
  background-color: #fc4c02;
}
ul.tickets_numbers {
  padding-left: 0;
}
ul.tickets_numbers_tab {
  margin-left: -5px;
  margin-top: 15px;
}
.ticket-tab-bar .ticket-tab-bar-item {
  width: 60px;
  margin-right: 3px;
}
ul.tickets_numbers li.tn {
  display: block;
  list-style: none;
  border: none;
  background-color: #fff;
  padding: 0.7em;
  float: left;
  width: 70px;
  height: auto;
  text-align: center;
  margin: 0.2em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  white-space: nowrap;
}
ul.lottery-pn-answers {
  padding-left: 0;
}
ul.lottery-pn-answers {
  margin: 0 0 40px 0;
}
ul.lottery-pn-answers li {
  border: none;
  background-color: #fff;
  padding: 0.5em;
  width: 100%;
  margin: 0 0 5px 0;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  text-transform: capitalize;
}
ul.tickets_numbers li.in_cart {
  background: #f2c84cbd !important;
}
ul.tickets_numbers li.selected {
  background: #4CAF50 !important;
  color: #fff;
}
ul.tickets_numbers li.in_cart {
  background: #ffd400 !important;
}
.lottery-pn-answers .uk-button-default:focus, .lottery-pn-answers .uk-button-default:hover {
  background-color: #fff;
  color: #333;
  border-color: #b2b2b2;
}
ul.lottery-pn-answers li.selected {
  background: #4caf50 !important;
  color: #fff !important;
}
form.buy-now {
  margin-bottom: 20px;
}
.main-lottery.lottery-time-countdown {
  margin-top: 10px;
  margin-bottom: 0;
}
form.cart.pick-number {
  margin-bottom: 20px;
}
.button .woocommerce-Price-amount {
  color: #fff;
}
.cart_nav .uk-dropdown {
  min-width: 320px;
}
.main-lottery {
  font-weight: 600;
}
.alertable-ok, .alertable-ok:hover {
  background: #fc4c02;
  border: solid 1px #fc4c02;
}
.uk-subnav-pill>.uk-active>a .uk-label {
  border-radius: 3px;
}
/* .cureent-participating {
  font-weight: 800;
  color: #1d262d;
}

.lottery-time,
.comp-close-msg {
  font-weight: 800;
  color: #1d262d;
}

.pick-number .uk-subnav>*>:first-child {
  color: #232323!important;
}

.pick-number .uk-subnav>.uk-active>a,
.pick-number .uk-subnav>*>a:focus,
.pick-number .uk-subnav>*>a:hover,
.pick-number a.ticket-tab-active {
  color: #b1b1b1!important;
}

ul.lottery-pn-answers {
  margin: 0 0 2em -10px;
}

ul.lottery-pn-answers li {
  border: none;
  padding: 0 0 0 10px;
  font-size: unset;
  width: unset;
  margin: unset;
  cursor: unset;
  font-weight: unset;
}

ul.lottery-pn-answers li a {
  background-color: #ffffff!important;
  border: 1px solid #e5e5e5;
  text-transform: capitalize!important;
  font-size: 1rem!important;
  padding: 7px 30px!important;
  color: #1d262d!important;
  font-weight: 800;
}

ul.lottery-pn-answers li.selected {
  background: none;
}

ul.lottery-pn-answers li.selected.false {
  background: none;
}

.pick-number ul.lottery-pn-answers li.selected a {
  border-color: #4CAF50;
  background-color: #4CAF50!important;
  color: #fff!important;
}

ul.lottery-pn-answers li.selected.false a {
  border-color: #c71717;
  color: #fff!important;
  background-color: #c71717!important;
}

ul.tickets_numbers li.tn {
  margin: 0 10px 10px 0;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  font-size: 0.8rem;
}

ul.tickets_numbers li.taken {
  background: #ececec!important;
  border: 1px solid #dedede!important;
  color: #777!important;
}

ul.tickets_numbers li.selected {
  background: #4CAF50!important;
  border: 1px solid #4caf50;
  color: #fff!important;
} */