.tab-content h2 {
  margin-bottom: 10px!important;
}

.uk-light .uk-button-primary {
  background-color: #ee3131;
  color: #fff;
}
.uk-light .uk-button-primary:hover, .uk-light .uk-button-primary:hover {
  background-color: #bb2b2b;
  color: #fff;
}
.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
  background-color: #ee3131!important;
}
/* checkout */
.order-total bdi {
  color: #ee3131;
}
/* mini cart */
.uk-button-link, .uk-button-link:hover, .uk-button-link:focus {
  color: #080a0b;
}
.uk-button {
  font-weight: 600;
}
.woocommerce-mini-cart__total bdi {
  color: #ee3131;
}
/* header */
#TertiaryHeader .uk-navbar-item, #TertiaryHeader .uk-navbar-nav>li>a, #TertiaryHeader .uk-navbar-toggle {
  min-height: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  padding: 0 20px;
}
#TertiaryHeader .uk-navbar-left .uk-navbar-nav>li>a {
  color: hsl(0deg 0% 100% / 98%);
  text-transform: capitalize;
}
#TertiaryHeader .uk-navbar-dropdown {
  background: #14191c;
}
#TertiaryHeader .uk-navbar-dropdown-nav>li>a:focus, .uk-navbar-dropdown-nav>li>a:hover {
  color: #ffffff;
}
/* ajax search css */
.search-results-ajax {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  z-index: 9999999;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.1);
  box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
.search-results-ajax ul {
  padding: 0;
  margin: 10px 0;
}
.search-results-ajax ul li {
  list-style: none;
}
.search-results-ajax ul li a {
  display: block;
  padding: 8px 15px;
  font-size: 13px;
}
.search-results-ajax ul li a:hover {
  background-color: #f5f5f5;
  color: #ee3131;
}
.search-results-ajax ul li a, .search-results-ajax ul li a:hover {
  text-decoration: none;
}
.search-results-ajax ul li a span.uk-text-meta.ajax-search-meta {
  float: right;
  font-size: 11px;
}

/* fonts */
.screen-reader-text {
  display: none!important;
}
.uk-pagination>*>* {
  font-weight: 600;
}
.uk-link, main a, footer a, .mini-cart-remove a {
  color: #ee3131;
  font-weight: 700;
}
bdi {
  font-size: 1.1rem;
  font-weight: 700;
}
.uk-link-toggle:focus .uk-link, .uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
  color: #bb2b2b;
}
.uk-link-heading a:hover, .uk-link-toggle:focus .uk-link-heading, .uk-link-toggle:hover .uk-link-heading, a.uk-link-heading:hover {
  color: #333333;
}
.uk-button-primary:focus, .uk-button-primary:hover {
  background-color: #bb2b2b;
}
html {
  font-family: 'Poppins', sans-serif;
  color: #1f2529;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge,
h1, h2, h3, h4, h5, h6,
.oswald {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
#PrimaryHeader .uk-navbar-item, #PrimaryHeader .uk-navbar-nav>li>a, #PrimaryHeader .uk-navbar-toggle {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}
/* header */
#PrimaryHeader.uk-section-small {
  padding-top: 20px;
  padding-bottom: 20px;
}
#PrimaryHeader .uk-width-medium {
  width: 265px;
}
.uk-search-large {
  width: 100%;
}
.uk-search-large .uk-search-icon {
  width: 25px;
  margin-right: 20px;
}
.uk-search-large .uk-search-icon:not(.uk-search-icon-flip)~.uk-search-input {
  padding-left: 70px;
}
.uk-search-large .uk-search-input {
  height: 55px;
  font-size: 1.1rem;
  padding-left: 20px;
}
.uk-search-default .uk-search-input:focus {
  border-color: #ee3131;
}
#PrimaryHeader .uk-navbar-nav a {
  color: #1f2529;
}
#PrimaryHeader .uk-navbar-nav li.uk-active>a, #PrimaryHeader .uk-navbar-nav li.current-menu-item>a {
  color: #6b6b6b;
}
#PrimaryHeader .uk-search-icon-flip {
  transition: .1s ease-in-out;
  transition-property: color,background-color;
}
#PrimaryHeader .uk-navbar-nav a:hover, #PrimaryHeader .uk-navbar-nav a:focus {
  color: #111;
}
#PrimaryHeader .uk-search-icon-flip:hover, #PrimaryHeader .uk-search-icon-flip:focus {
  color: #444;
}
.uk-search-default .uk-search-input {
  padding-left: 12px;
}
.header-cart-count {
  display: inline-block;
  text-align: center;
  background-color: #EE3131;
  color: #ffffff;
  font-size: 13px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  position: absolute;
  top: 17px;
  left: 24px;
}
span.subtotal-cart .woocommerce-Price-amount {
  color: #EE3131;
  margin-left: -5px;
}
#TertiaryHeader.uk-sticky-below {
  box-shadow: 0px 5px 5px 0px #00000040;
}
@media (max-width: 959px) {
  #SecondaryHeader a.uk-h4.dont-underline {
    font-size: 1rem;
  }
}

/* uk-container */
.uk-container {
  max-width: 1120px;
}
.uk-container-expand {
  max-width: none;
}
.uk-container-large {
  max-width: 1400px;
}
@media (min-width: 960px) {
.uk-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.uk-container-small {
  max-width: 900px;
}
/* backgrounds & colors */
.uk-background-secondary, .uk-section-secondary {
  background-color: #14191c;
}
.uk-background-secondary.uk-background-secondary-muted {
  background-color: #191f23;
}
.uk-background-secondary-muted.uk-background-secondary-muted-lighter {
  background-color: #1f2529;
}
.uk-light .uk-text-muted {
  color: #979797!important;
}
.uk-background-muted .uk-text-muted {
  color: #1f252980!important;
}
footer .uk-light .uk-nav-default>li>a {
  color: #fff;
}
footer .uk-light .uk-nav-default>li.uk-active>a, footer .uk-light .uk-nav-default>li.current-menu-item>a {
  color: #979797;
}
.uk-light .uk-nav-default>li>a:hover, .uk-light .uk-nav-default>li>a:focus {
  color: #979797;
}
.uk-button-primary {
  background-color: #ee3131;
  font-weight: 600;
}
.uk-text-emphasis {
  color: #3d3d3d!important;
}
.uk-section-primary {
  background: #EE3131;
}
.uk-label {
  background: #ee3131;
}
.uk-tab>.uk-active>a {
  border-color: #ee3131;
}
.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
  border-color: #ee3131;
}
/* uikit modifiers */
.uk-text-danger {
  font-style: normal;
}
.uk-text-underline {
  text-decoration: underline;
}
.uk-search-icon-flip:hover {
  text-decoration: none;
}