<footer class="uk-section uk-section-small uk-section-muted">
  <div class="uk-container">
  {% if sidebar_footer %}
  	{{sidebar_footer}}
  {% else %}
  	<p class="uk-text-small uk-text-center">Copyright 2020 <a href="/" class="uk-text-bold" title="" target="_blank">6StarCompetitions</a> | Created by <a href="https://github.com/robmccormack89" class="uk-text-bold" title="My Github" target="_blank">RMcCormack</a></p>
  {% endif %}
  </div>
</footer>
<script>
  jQuery(function($){
    $("#loginform").addClass("uk-form-stacked");
    $("label").addClass("uk-form-label");
    $("#loginform .input").addClass("uk-input");
    $("#loginform [ type=checkbox ]").addClass("uk-checkbox");
    $("#loginform .button.button-primary").addClass("uk-button uk-button-default");
  });
  
</script>