<section id="PageTitleSection" class="uk-section uk-background-muted">
  <div class="uk-container uk-text-center">
    <h1 class="uk-text-uppercase uk-h2 uk-text-muted">{{ post.title|e('esc_html') }}</h1>
  </div>
</section>