<div id="MiniCartModal" class="minicart-modal" uk-modal>
  <div class="uk-modal-dialog">
    <div class="uk-modal-body height-content uk-padding-remove" uk-overflow-auto>
      <div class="widget_shopping_cart_content">
        {{fn('woocommerce_mini_cart')}}
      </div>
      <!-- mini cart uikit custmizations -->
      <script>
        jQuery(function($) {
          function WooMiniCart() {
            $(".woocommerce-mini-cart__buttons .button:first-child").addClass("uk-button uk-button-primary uk-button-small uk-width-1-1");
            $(".woocommerce-mini-cart__buttons .button.checkout").addClass("uk-button uk-button-link uk-width-1-1 dont-underline");
          };
          // on load
          $(".widget_shopping_cart_content").load(WooMiniCart());
          // on dom modified
          $("body").on('DOMSubtreeModified', ".minicart-modal", WooMiniCart);
        });
      </script>
    </div>
  </div>
</div>