<div id="SiteContent" class="">
  <div id="BreadsArea" class="uk-container">
    {{ function('yoast_breadcrumb', '<div id="breadcrumbs">','</div>') }}
  </div>
  <div id="ContentArea" class="uk-section uk-section-small uk-section-muted">
    <div id="ContentWrap" class="uk-container">
      <div id="MainTitle" class="">
        <h1 class="uk-heading-line uk-text-bold"><span>Contact us</span></h1>
      </div>
      <div id="MainContent" class="uk-card uk-card-default uk-card-body">
        The Content
      </div>
    </div>
  </div>
</div>