<div id="HeaderTop" class="uk-visible@l">
  <div id="TopNav" class="">
    <nav id="TopNavWrap" class="top_nav_wrap theme-darker-bg uk-light navbar-height-45 muted-text-dark-bg">
      <div class="uk-container uk-container-expand">
        <div class="uk-navbar">
          <div class="uk-navbar-left">
            <div class="uk-navbar-item">
              <ul class="uk-grid uk-grid-small uk-grid-divider" uk-grid="">
                <li><i class="fas fa-map-marker-alt"></i> Address: <a href="#">Some place, IRE</a></li>
                <li><i class="far fa-envelope"></i> Email: <a href="#">info@6starcompetitions.ie</a></li>
                <li><i class="fas fa-phone-alt"></i> Phone: <a href="#">1800 111 2222</a></li>
              </ul>
              <!-- <ul class="uk-grid uk-grid-small uk-grid-divider" uk-grid="">
                {% if sidebar_header_left %}
                {{ sidebar_header_left }}
                {% else %}
                <p>Add some widgets to the Header Top Left Widget Area</p>
                {% endif %}
              </ul> -->
            </div>
          </div>
          <div class="uk-navbar-right">
            <div class="uk-navbar-item">
              <ul id="TopNavRightSocials" class="uk-grid" uk-grid="">
                <li><a href="#"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube fa-lg"></i></a></li>
              </ul>
              <!-- <ul id="TopNavRightSocials" class="uk-grid" uk-grid="">
                {% if sidebar_header_right %}
                {{ sidebar_header_right }}
                {% else %}
                <p>Add some widgets to the Header Top Right Widget Area</p>
                {% endif %}
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>