{% extends 'page.twig' %}

{% block breads %}
  <div class="breads-container uk-container uk-container-large">
    {% include 'breads.twig' %} 
  </div>
{% endblock %}

{% block page_content %}
  <section class="page-content-section uk-section uk-section-small uk-container uk-container-large" data-template="wide.twig">
    {{ post.content|e('wp_kses_post') }}
  </section>
{% endblock %}