// header
.bottom-big-nav .uk-navbar-nav>li>a {
  padding: 0 20px;
}
.bottom-big-nav .uk-navbar-item, .bottom-big-nav .uk-navbar-nav>li>a {
  font-size: 1rem;
}
.cart_nav .header-cart-count {
  background-color: #1d262d
}
.cart_nav .subtotal-cart {
  font-size: 1rem;
}
.cart_nav.uk-dropdown {
  min-width: 270px;
}
.cart_nav .header-cart-count {
  text-align: center;
  width: 20px;
  height: 20px;
  top: -5px;
  left: 20px;
  line-height: 20px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}
.cart_nav .subtotal-cart {
  position: relative;
  margin-left: 10px;
  vertical-align: super;
}
.cart_nav .header-cart-count {
  background-color: #fc4c02;
}
.cart_nav .subtotal-cart .woocommerce-Price-amount {
  color: #fff;
}
.sign-up-text {
  vertical-align: super;
  margin-left: 2px;
}
.sign-up-text:hover {
  text-decoration: none;
}
.login_dropdown a {
  font-size: 14px;
}
.navbar-height-30 .uk-navbar-item,
.navbar-height-30 .uk-navbar-nav>li>a,
.navbar-height-30 .uk-navbar-toggle {
  min-height: 30px;
}
.navbar-height-45 .uk-navbar-item,
.navbar-height-45 .uk-navbar-nav>li>a,
.navbar-height-45 .uk-navbar-toggle {
  min-height: 45px;
}
.navbar-height-60 .uk-navbar-item,
.navbar-height-60 .uk-navbar-nav>li>a,
.navbar-height-60 .uk-navbar-toggle {
  min-height: 60px;
}
.navbar-height-55 .uk-navbar-item,
.navbar-height-55 .uk-navbar-nav>li>a,
.navbar-height-55 .uk-navbar-toggle {
  min-height: 55px;
}
.navbar-height-full .uk-navbar-item {
  min-height: 100%;
}