// the post teases
.the-post .uk-card-body {
  padding: 30px;
}
.the-post a.cat-link {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #b1b1b1;
  line-height: 100%;
  display: inline-block;
}
.the-post .post-date {
  font-size: 13px;
  color: #b1b1b1;
  line-height: 1.6rem;
  font-weight: 600;
}