.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}
.font-900 {
  font-weight: 900;
}
.container-wrap-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.height-50 {
  height: 50px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.pull-right-20 {
  margin-right: -20px;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.pull-right-25 {
  margin-right: -25px;
}
.pull-left-20 {
  margin-left: -20px;
}
.pull-left-25 {
  margin-left: -25px;
}
.pull-left-15 {
  margin-left: -15px;
}
.pull-up-3 {
  margin-top: -3px;
}
.pull-down-6 {
  margin-bottom: -6px;
}
.pull-right-40 {
  margin-right: -40px;
}
a.dont-underline:hover, a.dont-underline:focus {
  text-decoration: none;
}