del {
  color: #1d262d;
  font-size: 0.9rem;
}
ins {
  font-size: 1rem;
  background: transparent;
  color: #fc4c02;
}
.uk-card-badge {
  top: 10px;
  right: 0;
}
.cart_list, .total {
  font-size: 13px;
}
.mini-cart-link a.uk-link-reset, .total strong {
  font-weight: 700;
  color: #18202e !important;
}
.remove {
  font-weight: 700;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  color: red !important;
}
.woocommerce-mini-cart img {
  width: 50px;
  padding: 1px;
  border-radius: 100%;
  border: 1px solid #c5c5c5;
}
.checkout.uk-button-link {
  line-height: 28px;
  color: #18202e;
}
.lSAction>a {
  /* border: 5px solid #fc4c02; */
  border-radius: 100%;
  width: 29px;
  display: block;
  top: 50%;
  height: 29px;
  color: #fff;
  background-image: none;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -10px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}
.lSAction>.lSPrev {
  left: 10px;
}
.lSAction>.lSNext {
  right: 10px;
}
.lSPrev .fas {
  margin-left: 6px;
}
.lSNext .fas {
  margin-left: 8px;
}
.lSSlideOuter .lSPager.lSGallery li.active img,
.lSSlideOuter .lSPager.lSGallery li:hover img {
  border: 5px solid #fc4c02;
}
/* woo */
.product-grid-item.product .uk-card-body {
  padding: 20px;
}
#ProductTitle .uk-card-title {
  margin-bottom: 10px;
  color: #1d262d;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0px;
}
.product-archive-title {
  font-size: 2rem;
}
.tease-product-cats {
  color: #b1b1b1 !important;
  margin-bottom: 5px;
}
.woocommerce-Price-amount {
  color: #fc4c02;
}
.woocommerce-mini-cart__empty-message {
  padding: 20px;
}
.woocommerce-MyAccount-navigation a {
  font-weight: 600;
  color: #151c28;
}
.woocommerce #content div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce div.product div.images {
  width: 100%;
}
.yikes-custom-woo-tab-title {
  display: none;
}
.cart .quantity {
  display: inline-block;
  width: 10%;
}
.custom-product-images {
  width: 100%;
}
.custom-product-images ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}
.custom-product-images li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}
.woocommerce-cart-form td.product-remove {
  min-width: 20px;
}
.woocommerce-cart-form td.product-thumbnail {
  min-width: 100px;
}
.woocommerce-cart-form td.product-name {
  min-width: 150px;
}