<p>This is purely a demonstration of <a href="">Context</a>, a Shopify theme by Fluorescent. The imagery and text content has been graciously provided by the lovely folks at mlouye. They make leather bags that are so beautiful that you should drop everything and buy some right now: <a href="">mlouye.com</a>.</p>

<p>Mlouye’s founder and creative director Meb Rure hails from an industrial design background. In 2015, Meb decided to change gears and turn her energy towards Mlouye, a collection of exceptional handbags. Focusing on quality material, good design, craftsmanship and sustainability.</p>

<p>Meb was highly inspired by Bauhaus Movement's artists and architects. From Mies Van der Rohe works to Kandinsky's paintings, to Aalto' furniture, she acquired a rationalist vision of design by gleaning how they served a utilitarian purpose in a cleverly simple way. Mlouye merges industrial design and fashion, creating functional handbags made of luxurious and honest materials to improve people's lives in small but important ways.</p>

<p>Innovation being the key factor alongside aesthetic, Mlouye has brought unexpected shapes with smart details, functionality and a new luxury feel with a contemporary price point. Istanbul is where Mlouye was born, the company's headquarters is now split between the United States and Turkey.</p>