<section id="PageTitleSection" class="uk-section uk-background-muted">
  <div class="uk-container uk-container-small uk-text-center">
    <h1 class="uk-text-uppercase uk-h2 uk-text-muted uk-margin-remove">{{title|e('esc_html')}}</h1>
    <div hidden>
      {% do action('woocommerce_archive_description') %}
    </div>
  </div>
</section>