{% extends "page.twig" %}

{% block styles %}
  <!-- basket styles -->
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/basket.css" />
{% endblock %}

{% block page_content %}
  <section class="basket-content-section uk-section uk-section-small uk-container" data-template="basket.twig">
    {{ post.content }}
  </section>
{% endblock %}

{% block scripts %}
  <script type='text/javascript' src='{{theme.link|e('esc_url')}}/assets/js/woo/basket.js'></script>
{% endblock %}