{% extends 'base.twig' %}

{% block spec_styles %}
  <!-- shop styles -->
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/shop.css" />
{% endblock %}

{% block pageheader %}
  {% include 'shop-header.twig' %}
{% endblock %}

{% block contentwrap %}

  <div class="uk-container uk-container-large content-container" data-block="content-wrap" data-template="collection.twig">
    
    <div class="collection-wrap">

      {% if all_terms is not empty %} 
      
        <div class="uk-child-width-1-5@m uk-grid-small uk-flex uk-flex-center" uk-grid>
      
          {% for term in all_terms %}
          
            {% include ['tease-term.twig'] %}
             
          {% endfor %}
          
        </div>
        
      {% else %}
      
        No collection items added...
      
      {% endif %}
      
    </div>
    
  </div>

{% endblock %}

{% block spec_scripts %}
  <script type='text/javascript' src='{{theme.link|e('esc_url')}}/assets/js/woo/shop.js'></script>
{% endblock %}