{% extends 'index.twig' %}

{% block styles %}
  <!-- shop styles -->
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/shop.css" />
{% endblock %}

{% block archive_content %}
  <section class="archive-content-section uk-section uk-section-small uk-container content-container uk-position-relative">
    <div class="collection-wrap filters-container">
      {% if all_terms is not empty %} 
      
        <div class="uk-child-width-1-2 uk-child-width-1-5@m uk-grid-small" uk-grid>
      
          {% for term in all_terms %}
          
            {% include ['tease-term.twig'] %}
             
          {% endfor %}
          
        </div>
        
      {% else %}
      
        No collection items added...
      
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script type='text/javascript' src='{{theme.link|e('esc_url')}}/assets/js/woo/shop.js'></script>
  <script type='text/javascript' src='{{theme.link|e('esc_url')}}/assets/js/woo/shop-filters.js'></script>
{% endblock %}