{% extends 'base.twig' %}

{% block spec_styles %}
  <style>
    .onsale.uk-card-badge {
      top: 15px;
      right: 15px;
    }
    .term-description>p {
      margin: 0;
    }
  </style>
{% endblock %}

{% block pageheader %}
  <section id="PageTitleSection" class="uk-section uk-background-muted">
    <div class="uk-container uk-container-small uk-text-center">
      <h1 class="uk-text-uppercase uk-h2 uk-text-muted">{{title}}</h1>
      {% do action('woocommerce_archive_description') %}
    </div>
  </section>
{% endblock %}

{% block contentwrap %}

  <div class="uk-container uk-container-large" data-block="content-wrap" data-template="shop.twig">
    
    {% do action('woocommerce_before_main_content') %}
    
    <div class="shop-wrap">

      {% do action('woocommerce_before_shop_loop') %}

      {% if term_subs is not empty %} 
      
        <div class="uk-child-width-1-{{columns}}@m uk-grid-small uk-flex uk-flex-center" uk-grid>
      
          {% for term in term_subs %}
          
            {% include ['tease-term.twig'] %}
             
          {% endfor %}
          
        </div>
        
      {% else %}
      
        {% if products is not empty %}
          <div id="ProductsGrid" class="uk-child-width-1-1 uk-child-width-1-{{columns}}@m uk-grid-small archive-posts" uk-grid="masonry: true">
            {% for post in products %}
              {% include ['tease-product.twig'] %}
            {% endfor %}
          </div>
          {% if is_paginated %}
            {% include 'pagination.twig' with { pagination : products.pagination( { show_all: true, mid_size: 3, end_size: 2 } ) } %}
          {% endif %}
        {% else %}
          {% do action('woocommerce_no_products_found') %}
        {% endif %}
        
      {% endif %}

      {% do action('woocommerce_after_shop_loop') %}

      {% do action('woocommerce_after_main_content') %}
      
    </div>
    
  </div>

{% endblock %}

{% block spec_scripts %}
  <script type='text/javascript' src='{{theme.link}}/assets/js/shop.js'></script>
{% endblock %}