{% extends 'base.twig' %}
{% block content %}

<div class="uk-section uk-section-small" data-template="woo-archive.twig">
  <div class="uk-container">
    <div>
      <div id="MainProductArchive" class="uk-article">
        <div>
          
          <div id="ShopBreadsNotices" class="">
            {% do action('woocommerce_before_main_content') %}
          </div>
          
          {% if not user %}
          <p class="uk-margin-remove-top">You are not logged in. Please <a href="#modal-container" uk-toggle>log in here</a> before entering a competition.</p>
          {% endif %}
          
          <h1 id="ShopArchiveTitle" class="uk-article-title woocommerce-products-header__title page-title uk-margin-top">
            {{ title }}
          </h1>
        
          <!-- <div id="ShopArchiveDescription" class="uk-margin-bottom">
            {# {% do action('woocommerce_archive_description') %} #}
          </div> -->
          
          <!-- <nav id="ShopToolbar" class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">
              <div class="uk-navbar-item">
                {# {% do action('woocommerce_before_shop_loop') %} #}
              </div>
            </div>
          </nav> -->

          <div id="ShopProducts" class="archive-posts uk-margin-bottom">
            <div id="ProductGrid" class="uk-child-width-1-1@s uk-child-width-1-4@m" uk-grid="masonry: true">
              {% for post in products %}
                {% include ['tease-product.twig'] %}
              {% endfor %}
              {% if products is empty %}
                {% do action('woocommerce_no_products_found') %}
              {% endif %}
            </div>
          </div>

          <div id="ShopPagination">
            {% do action('woocommerce_after_shop_loop') %}
          </div>
          
          {% do action('woocommerce_after_main_content') %}
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock  %}