{% extends "base.twig" %}
{% block content %}

<div class="uk-section uk-section-small uk-margin-large-bottom" data-template="archive.twig">
  <div class="uk-container">
    
    <div class="product-breadcrumbs-section uk-margin-bottom">
      {% do action('woocommerce_before_main_content') %}
    </div>
    
    {% if not user %}
    <p class="uk-margin-remove-top">You are not logged in. Please <a href="#modal-container" uk-toggle>log in here</a> before entering a competition.</p>
    {% endif %}

    <div class="product-notices-section">
      {% do action('woocommerce_before_single_product') %}
    </div>

    <!-- the Product -->
    <div id="TheProduct" itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}" uk-grid>

      <!-- the images -->
      <div class="entry-images uk-width-1-2@m">
        <div>
          {% do action('woocommerce_before_single_product_summary') %}
        </div>
          
      </div>

      <div class="uk-width-1-2@m">
        {% do action('woocommerce_single_product_summary') %}
        {# {% do action('woocommerce_after_single_product_summary') %} #}
      </div>

      <meta itemprop="url" content="{{ post.link }}" />

    </div>

    <!-- <div class="after-product-section uk-margin-large-top">
      {% do action('woocommerce_after_single_product') %}
    </div> -->
  
  </div>
</div>

{% endblock  %}