<div id="HeaderTop" class="uk-visible@m">
  <div id="TopNav" class="">
    <nav id="TopNavWrap" class="top_nav_wrap theme-darker-bg uk-light" style="border-bottom: 1px solid #354450;">
      <div class="uk-container">
        
        <nav class="navbar-height-30" uk-navbar>
        
            <div class="uk-navbar-left">
              
              {% if sidebar_header_left %}
              {{ sidebar_header_left }}
              {% else %}
              <span class="uk-text-emphasis uik-text-lead">Header Left Sidebar</span>
              {% endif %}
        
            </div>
        
            <div class="uk-navbar-right uk-background-primary pull-right-25" style="padding:5px 20px;">
        
              {% if sidebar_header_right %}
              {{ sidebar_header_right }}
              {% else %}
              <ul id="TopNavRightSocials" class="uk-grid uk-flex uk-flex-center" uk-grid="">
              	<li><a href="#"><i class="fab fa-facebook-f fa-lg"></i></a></li>
              	<li><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
              	<li><a href="#"><i class="fab fa-snapchat-ghost fa-lg"></i></a></li>
              </ul>
              {% endif %}
        
            </div>
        </nav>

      </div>
    </nav>
  </div>
</div>