<div id="HeaderBottomMobile" class="uk-hidden@m fat-border-bottom">
  <div id="BottomNavMobile" class="">
    <nav id="TopNavWrapMobile" class="top_nav_wrap_mobile uk-padding-remove theme-darker-bg">
      <div class="uk-container uk-container-expand">
        <div class="uk-navbar" uk-navbar>
          <div id="TopNavRightMobile" class="bottom_nav_right bottom_nav_right_mobile uk-navbar-left navbar-height-full search-overlay-mobile">
            {% include 'search-nav-item.twig' %}
          </div>
          <div class="top_nav_right_mobile bottom_nav_right uk-navbar-right navbar-height-full search-overlay-mobile">
            {% include 'cart-nav-item.twig' %}
            <div class="bottom_nav_right_divider uk-navbar-item uk-light">
              <hr class="uk-divider-vertical height-50 uk-margin-remove">
            </div>
            {% include 'account-nav-item.twig' %}
          </div>
        </div>
      </div>
    </nav>
    <nav id="BottomNavWrapMobile" class="theme-dark-bg">
      <div class="uk-container uk-container-expand uk-padding-remove">
        <div class="" uk-grid>
          <div class="uk-width-auto">
            <div class="uk-navbar" uk-navbar>
              <div class="bottom_nav_logo bottom_nav_logo_mobile uk-navbar-left navbar-height-55 uk-light">
                {% include 'nav-logo.twig' %}
              </div>
            </div>
          </div>
          <div class="uk-width-expand">
            <div class="uk-navbar" uk-navbar>
              <div class="bottom_nav_right uk-navbar-right navbar-height-60 search-overlay-tablet">
                {% include 'offcanvas-nav-item.twig' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>