<div id="HeaderBottom" class="uk-visible@m fat-border-bottom">
  <div id="BottomNav" class="">
    <nav id="BottomNavWrap" class="theme-dark-bg">
      <div class="uk-container">
        <div class="uk-navbar" uk-navbar>
          {% include 'nav-left.twig' %}
          {# include 'nav-center.twig' #}
          {% include 'nav-right.twig' %}
          {% include 'nav-search.twig' %}
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="uk-container bottom_bar_nav uk-visible@m">
  <nav class="navbar-height-60" uk-navbar>
    <div class="uk-navbar-left bottom-big-nav font-600 pull-left-20">
      {% include 'nav-menu.twig' %}
    </div>
  </nav>
</div>