<div class="bottom_nav_right bottom_nav_right_desktop uk-navbar-right pull-right-25 navbar-height-full">
  
  {% include 'search-nav-item.twig' %}
  
  {% include 'cart-nav-item.twig' %}
  
  {% include 'account-nav-item.twig' %}
  
  <div id="BottomNavRightDivider" class="bottom_nav_right_divider uk-navbar-item uk-light uk-hidden@xl">
    <hr class="uk-divider-vertical height-50 uk-margin-remove">
  </div>
  
  {% include 'offcanvas-nav-item.twig' %}
  
</div>